@import url('https://fonts.googleapis.com/css2?family=Asul:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=El+Messiri:wght@400..700&display=swap');

body {
     /* --siteFont: 'El Messiri', sans-serif; */
     font-size: 1em; /* This sets the body font size to 16 pixels */
    --headingFont: 'Open Sans', sans-serif; 
    --siteFont: 'Open Sans', sans-serif;
     /* --headingFont: 'Orbitron', sans-serif; */
}


h1 {
    font-size: 2em; /* 1.5 times the body font size */
    font-family: var(--headingFont);
}

h2 {
    font-size: 1.5em; /* 1.25 times the body font size */
    font-family: var(--headingFont);
}

h3 {
    font-size: 2em; /* 1.5 times the body font size */
    font-family: var(--headingFont);
}

h4 {
    font-size: 1.5em; /* 1.25 times the body font size */
    font-family: var(--headingFont);
}

h5 {
    font-size: 1.5em; /* 1.5 times the body font size */
    font-family: var(--headingFont);
}

h6 {
    font-size: 2em; /* 1.25 times the body font size */
    font-family: var(--headingFont);
}

/* 

h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
}


h1 {
    font-size: 48px; 
}

h2, h3 {
    font-size: 42px; 
}

h4 {
    font-size: 36px; 
}

h5, h6 {
    font-size: 30px; 
}

*/

.search .input-wrap {
    margin-top: 30px!important;
}

.sidebar-toggle {
    top: 0;
    bottom: unset;
}

@media screen and (max-width: 768px) {
    #docsify-darklight-theme {
        left: unset;
    }
}
