@import url('https://fonts.googleapis.com/css2?family=Asul:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&family=El+Messiri:wght@400..700&display=swap');

body {
     /* --siteFont: 'El Messiri', sans-serif; */
     font-size: 1em; /* This sets the body font size to 16 pixels */
    --headingFont: 'Open Sans', sans-serif; 
    --siteFont: 'Open Sans', sans-serif;
     /* --headingFont: 'Orbitron', sans-serif; */
}



h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
}


.search .input-wrap {
    margin-top: 30px!important;
}

.sidebar-toggle {
    top: 0;
    bottom: unset;
}

@media screen and (max-width: 768px) {
    #docsify-darklight-theme {
        left: unset;
    }
}


/* TABLE testing */

/* Apply styles only to tables with the "styled-table" class */
table.styled-table {
  border-collapse: collapse !important;
  width: 100%;
}

/* Apply styles only to cells within tables with the "styled-table" class */
table.styled-table td,
table.styled-table th {
  border: none !important;
  padding: 8px !important;
}

/* Apply alternating row colors only to tables with the "styled-table" class */
table.styled-table tr:nth-child(odd) {
  background-color: #f2f2f2 !important;
}
